<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Analytics</h3>
    </div>
    <div class="panel-body">

      <table class="table table-hover">
        <tr>
          <th>ID</th>
          <th>Timestamp</th>
          <th>Widget ID</th>
          <th></th>
        </tr>

        <% @analytics.each do |analytic| %>
          <tr>
            <td><%= link_to analytic.id, analytic %></td>
            <td><%= analytic.timestamp %></td>
            <td><%= link_to analytic.widget_id, widget_path(analytic.widget_id)  %></td>
            <td><%= link_to 'Delete', analytic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        </table>
      
      <%= paginate @analytics %>
      <br />

    </div>
  </div><!-- end div.panel -->
</div><!-- end div.row-->


