<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @analytic.user_id %>
</p>

<p>
  <b>Widget:</b>
  <%= @analytic.widget_id %>
</p>


<%= link_to 'Edit', edit_analytic_path(@analytic) %> |
<%= link_to 'Back', analytics_path %>
