<div class="container">
  <div class="panel panel-default">
   <div class="panel-heading">
     <h3 class="panel-title">
       <%= link_to 'Storage', widgets_path %> /  <%= @widget.name %>
     </h3>
   </div> 
  
   <div class="panel-body">

    <p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @widget.name %>
</p>

<p>
  <b>Class Name:</b>
  <%= @widget.class_name %>
</p>
<p>
  <b>Description:</b>
  <%= @widget.description %>
</p>

<p>
  <b>Version:</b>
  <%= @widget.version %>
</p>

<p>
  <b>Last run at:</b>
  <%= @widget.last_run_at %>
</p>

<p>
  <b>Run interval:</b>
  <%= @widget.run_interval %>
</p>

<p>
  <b>Last run at:</b>
  <%= @widget.last_run_at %>
</p>

<p>
  <b>Is disable:</b>
  <%= @widget.is_disable %>
</p>

<p>
  <b>homepage:</b>
  <%= @widget.homepage %>
</p>

<p>
  <b>User:</b>
  <%= @widget.user_id %>
  </p>

<!-- Table for Analytics -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Anaytics</h3>
    </div>
    <div class="panel-body">

      <table class="table table-hover">
        <tr>
          <th>ID</th>
          <th>Timestamp</th>
          <th>Widget ID</th>
          <th></th>
        </tr>
        
        <% @analytics.each do |analytic| %>
<tr>
            <td><%= link_to analytic.id, analytic %></td>
            <td><%= analytic.timestamp %></td>
            <td><%= link_to analytic.widget_id, widget_path(analytic.widget_id)  %></td>
            <td><%= link_to 'Delete', analytic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>

        <% end %>
      </table>
      
      <%= paginate @analytics %>
      <br />

    </div><!-- end div.panel-body -->
  </div><!-- end div.panel panel-default -->

<%= link_to 'Edit', edit_widget_path(@widget) %> |
<%= link_to 'Back', widgets_path %>


 </div><!-- end div.panel -->
</div><!-- end div.row-->

