<div class="container">
<%= form_for(@user, :url => user_registration_path, :html => {:class => "form-signup"})  do |f| %>
  <h2 class="form-signup-heading">Sign up</h2>



  <%= f.email_field :email, :autofocus => true, :class => "form-control", :placeholder => "Email address" %>

   <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>

   <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Password Confirmation"  %>
   <%= f.text_field :device_id, :class => "form-control", :placeholder => "Device ID"  %>


  <%= f.submit "Sign up", :class => "btn btn-lg btn-primary btn-block" %>
<% end %>

</div> <!-- /container -->
