<%= form_for @storage, :url => storages_path, :html => { :multipart => true } do |f| %>
  <% if @storage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@storage.errors.count, "error") %> prohibited this storage from being saved:</h2>

      <ul>
      <% @storage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fileupload">
    <%= f.file_field :file, :class => "btn btn-default" %>
  </div>


  <div class="type">
    <%= f.select :file_type, options_for_select([ "wifilocation", "sensor", "audio" ], "wifilocation")%>
  </div>

  <div>
    <%= f.submit "Upload the file", :class => "btn btn-default"  %>
  </div>


<% end %>
