<p id="notice"><%= notice %></p>

<div>Name: <%= @storage.rawlog_file_name %></div>
<div>Size: <%= @storage.rawlog_file_size %></div>
<div>Status: <%= @storage.status %></div>
<div>Last_parsed_line: <%= @storage.last_parsed_line %></div>
<div><%= link_to "view file", @storage.rawlog.url %></div>
<div><%= link_to "Process the log", parse_storage_path(@storage) %></div>

<%= link_to 'Edit', edit_storage_path(@storage) %> |
<%= link_to 'Back', storages_path %>
